// Global styling for this template

::selection {
  color: darken($white, 5%);
  background: $secondary;
}

body {
  padding-top: $navbar-base-height;
  color: $gray-600;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  line-height: 1;
}

p.lead {
  font-size: 1.1rem;
  font-weight: 400;
}

.subheading {
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
}

.card a {
  &:hover {
    text-decoration: none !important;
  }
}

.modal{
  padding: 0 !important;
}

footer{
  font-size: 0.8em;
}

@include media-breakpoint-down(sm){
  h1 {
    font-size: 4.5rem;
  }
}

@include media-breakpoint-up(md) {
  body {
    padding: $navbar-base-height $body-tablet-base-margin 0;
  }
}

@include media-breakpoint-up(lg) {
  body {
    padding: $navbar-base-height $body-desktop-base-margin 0;
  }
  h1{
    font-size: 5em;
  }
}

@media(min-width: 1600px){
  h1{
    font-size: initial;
  }
}
