<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ site.style_src }}">

        <!-- open graph -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:image" content="{{ metaImage }}">
        <meta property="og:site_name" content="{{ site.name }}">
        <meta property="og:description" content="{{ metaDescription }}">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ metaDescription }}">
        <meta name="twitter:image" content="{{ metaImage }}">

         <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{site.style_src}}" rel="stylesheet" />


    </head>

    <body id="page-top">
        <!-- SVG Filters  -->
        {%include "svg_filters/purple-svg-filter.njk"%}

        <!-- Navigation -->
        {% include "partials/nav.njk" %}

        <!-- Main Content -->
        {% block content %}
            {# Página #}
        {% endblock %}
        
        
        <!-- "Back to top" section -->
        {% include "partials/back_to_top.njk" %}

        <!-- Footer -->
        {% include "partials/footer.njk" %}

         <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{site.js_src}}"></script>
    </body>
</html>