<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ site.title }}</title>
        <link rel="shortcut icon" href="{{ site.favicon }}">
        <link rel="stylesheet" href="{{ site.style_src }}">

        <!-- open graph -->
        <meta property="og:title" content="{{ metaTitle }}"/>
        <meta property="og:description" content="{{ metaDescription }}"/>
        <meta property="og:image" content="{{ site.metaImage }}"/>
        <meta property="og:url" content="{{ site.baseUrl }}"/>

        <!-- twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:creator" content="{{ personalData.twitterHandle }}"/>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-BBPCZ13F82"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-BBPCZ13F82');
        </script>

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css"/>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{site.style_src}}" rel="stylesheet"/>

    </head>

    <body id="page-top">
        <!-- SVG Filters -->
        {%include "svg_filters/purple-svg-filter.njk"%}

        <!-- Main Content -->
        {% block home_page %}
            {# Página #}
        {% endblock %}

        <!-- "Back to top" section -->
        {% include "partials/back_to_top.njk" %}

        <!-- Footer -->
        {% include "partials/footer.njk" %}

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!-- Focusable plugin jQuery-->
        <script src="{{site.jquery_src}}"></script>

        <!-- Muuri -->
        <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>

        <!-- Core theme JS-->
        <script src="{{site.js_src}}"></script>
    </body>
</html>