---
permalink: /{{ locale }}/index.html
---

{% extends "layouts/structure.njk" %}

{% block home_page %}

    <!-- Navigation -->
    {% include "partials/nav.njk" %}

    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        {%include 'partials/about.njk'%}

        <hr class="m-0" tabindex="-1"/>

        <!-- Projects -->
        {%include 'partials/projects.njk'%}

        <hr class="m-0" tabindex="-1"/>
        
        <!-- Experience-->
        {%include 'partials/experience.njk'%}

        <hr class="m-0" tabindex="-1"/>

        <!-- Education-->
        {%include 'partials/education.njk'%}

        <hr class="m-0" tabindex="-1"/>

        <!-- Skills-->
        {%include 'partials/skills.njk'%}

        <hr class="m-0" tabindex="-1"/>


        <!-- Interests-->
        {# {%include 'partials/interests.njk'%} #}
    </div>
{% endblock %}