{% extends "layouts/base.njk" %}

{% set locale = site[locale] %}
{% set lang = locale.lang %}
{% set metaTitle = locale.metaTitle %}
{% set metaDescription = locale.metaDescription %}
{% set metaImage = locale.metaImage %}

<!-- Main Content -->
{% block content %}
    {# Página em si #}
{% endblock %}