#topNav {
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  .home-icon{
    color: darken($white, 5%) !important;
    margin-right: 0;
    font-size: 1.4em;
  }

  // Container do toggle de idioma
  .toggle-container{
    margin: 0.2em 0;
    width: 20%;
    height: 30px;
  }
  
  // Menu hamburguer
  .navbar{
    width: 20%;
  }


  .hamburger-outer-container{
    width: 100%;

    .hamburger {
      display: flex;
      width: 100%;
      padding: 0.5em 1em;

      &:focus {
        outline-color: lighten($primary, 15%);
      }

      .hamburger-inner{
        background-color: darken($white, 5%);

        &:after, &:before{
          background-color: darken($white, 5%);
        }
      }
    }
  }

  .navbar-nav{
    margin: 10px 20px;

    .nav-item .nav-link{
      font-weight: 800;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }
  }
}

@include media-breakpoint-up(md) {
  #topNav {
    .toggle-container, .navbar{
      width: 10%;
    }

    .toggle-container{
      height: 2em;
    }
  }
}

@include media-breakpoint-up(lg) {
  #topNav {
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    
    font-size: 0.9em;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: $navbar-base-height;

    .toggle-container{
      position: absolute;
      margin: 0;
      right: 2em;
      width: 80px;
      height: 2em;
    }

    .navbar {
      display: flex;
      flex-direction:row;
      width: 82%;
      height: 100%;

      .navbar-nav {
        flex-direction: row;
        justify-content: center;
        width: 100%;

        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width: 1800px){
  #topNav{
    font-size: 1rem;
  }
}