.project-tag{
  border-radius: 50rem !important;
  font-size: 0.9rem;

  &.purple{
    color: $white;
    background-color: $purple;
  }
  &.orange{
    color: $white;
    background-color: $orange;
  }
  &.dark-orange{
    color: $white;
    background-color: $dark-orange;
  }
  &.green{
    color: $white;
    background-color: $green;
  }
  &.yellow{
    color: $gray-800;
    background-color: $yellow;
  }
  &.cyan{
    color: $white;
    background-color: $cyan;
  }
  &.blue{
    color: $white;
    background-color: $blue;
  }
  &.indigo{
    color: $white;
    background-color: $indigo;
  }
  &.pink{
    color: $white;
    background-color: $pink;
  }
}