.project-modal .modal-dialog {
  max-width: 800px;
}

.project-modal .modal-header {
  border: none;
  padding-bottom: 0;
}

.project-modal .modal-body {
  padding: 1em 3em 4em;
  // padding-left: 3em;
  // padding-right: 3em;
  // padding-bottom: 4em;

  h2 {
    text-align: center;
  }

  .social-icons {
    text-align: center;
    padding: 0 0 1em;
    border-bottom: 1px solid $primary;

    .project-link:not(:last-child) {
      margin-right: 1.5rem;
    }

    .social-icon {
      width: 2em;
      height: 2em;
      background-color: $primary;
      margin-right: 0px;
    }
  }

  .project-img {
    img {
      width: 100%;
      margin-top: 1em;
      border: 2px solid $primary;
    }
  }
}

@include media-breakpoint-up(md) {
  .project-modal .modal-dialog {
    max-width: 690px;
  }
  .project-modal .modal-body {
    .project-img {
      margin: 0;
      padding: 1em 4em;
    }

    .link-card {
      margin-right: 4rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .project-modal .modal-header {
    padding: 1em 3em 0;
  }

  .project-modal .modal-body h2 {
    margin-bottom: 0.5em;
  }
}
