.link-card {
  text-align: center;
  padding: 0;
  border-radius: 0;
  border: 0;

  .card-content-wrapper {
    width: 100%;
    max-height: 320px;
    margin: 0;
    padding: 0;
    border: 0.15em solid $primary;
    transition: all ease-out 0.2s;
  }

  .card-img {
    position: relative;
    width: inherit;
    border-radius: inherit;
  }

  .card-title {
    color: $white;
  }

  &--general{
    @extend .link-card;

    .card-title{
      margin: auto;
    }

    @include media-breakpoint-down(md){
      .card-img-overlay{
        display: none;
      }
    }
  }

  &--project{
    @extend .link-card;

    .card-img {
      filter: brightness(0.8);
      transition: all ease-in 0.2s;
    }
  
    .card-img-overlay {
      padding: 1em 2em 1em 2em;
      color: $white;
      flex-direction: column;
    }
  }

  @include media-breakpoint-down(md){
    .card-img-overlay {
      margin: auto;
    }
    .card-text{
      font-size: 1em;
    }
  }
  
  @include media-breakpoint-between(md, lg){
    .card-text{
      display: none;
    }

    .card-title{
      font-size: 1.4em;
    }
  }

  @include media-breakpoint-up(lg){

    .card-title{
      font-size: 1.4em;
    }

    .card-text{
      font-size: 0.8em;
    }

    .card-img{
      filter: none;
    }
    
    .card-img-overlay{
      animation: go-out 0.3s;
      animation-fill-mode: forwards;
    }

    &:hover, &:focus {
      .card-content-wrapper {
        transform: scale(1.025);
        border-color: lighten($primary, 20%);
        box-shadow: 0px 2px 5px 1px rgba(darken($primary, 20%), 0.2);
      }
      .card-img {
        transform: scale(1.01);
        filter: url(#purple-filter) brightness(0.5);
      }
      
      .card-img-overlay {
        display: flex;
        animation: go-up 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }

  @media(min-width: 1300px){
    .card-title{
      font-size: 2em;
    }
    .card-text {
      font-size: 1rem;
    }
  }

}