section.resume-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: 75rem;
  margin: auto;

  .resume-section-content {
    width: 100%;
  }
}

.about-section {
  .main-img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  section.resume-section {
    min-height: 100vh;
    padding-top: 5rem;
  }
}

@include media-breakpoint-up(lg) {
  section.resume-section {
    padding: 3rem 2rem;
  }

  .about-section {
    .main-img {
      width: 140%;
    }
  }
}

@media (min-width: 1800px) {
  section.resume-section {
    padding-top: 6rem;
  }
}
