// Styling for the development technology icons
.master-skills-list {
  color: $primary;
}

.category-card__skill-list{
  width: 80%;
  padding-left: 0;
  list-style-type: none;

  .category-card__skill {
    margin: 10% auto;
    width: 80%;

    .skill-icon {
      font-size: 2rem;

      &__img {
        @extend .skill-icon;
        width: 32px;
        height: auto;
      }
    }

    .skill-name{
      margin: auto 0 auto 2%;
      white-space: nowrap;
    }
  }
}

@include media-breakpoint-down(md) {
  .category-card {
    width: 80%;
    margin-bottom: 20px;
    font-size: 1.4em;

    &__skill-list {
      width: 80%;
      text-align: left;
    }

    &__skill {
      margin: 10%;
      width: 80%;
      text-align: center;
      
      .skill-icon img {
        width: 100%;
      }

      .skill-name{
        white-space: normal;
      }
    }
  }
}
