// Styling for the development technology icons
.master-skills-list {
  color: $primary;
  text-align: center;

  .category-card {

    &--skills-list {
      padding-left: 0px;
      list-style-type: none;
      .skill-icon {
        font-size: 2rem;
      }
      .skill-name-container p{
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }

  .skill-icon {
    &--img {
      @extend .skill-icon;
      width: 32px;
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .category-card {
    width: 80%;
    margin-bottom: 20px;
    font-size: 1.4em;

    &--skills-list {
      width: 80%;
      text-align: left;
    }

    .skill-icon img {
      width: 100%;
    }

    &--skill-container {
      margin: 0 10%;
      width: 80%;
      text-align: center;
    }
  }
}
