// Styling for the development technology icons
.master-skills-list {
  color: $primary;
  flex-wrap: wrap;
}

.category-card{
  width: 40%;
  margin: 0 5% 5%;
}

.category-card__title{
  margin-bottom: 1rem;
}

.category-card:first-child{
  width: 100%;
}

.category-card__skill-list{
  width: 100%;
  padding-left: 0;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  list-style-type: none;

}

.category-card__skill {
  min-width: 20%;
  margin: 0 5% 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .skill-icon {
    font-size: 2rem;
    width: 32px;

    &__img {
      @extend .skill-icon;
      height: auto;
    }
  }

  .skill-name{
    margin: auto 0 auto 2%;
    white-space: nowrap;
    font-size: 1.2rem;
  }
}

@include media-breakpoint-down(md) {
  .category-card:first-child, .category-card{
    width: 100%;
    margin-bottom: 20px;
  }

  .category-card__skill-list {
    justify-content: center;
  }

  .category-card__skill {
    margin: 2% 2% 4%;
    text-align: center;
    
    .skill-icon img {
      width: 100%;
    }

    .skill-name{
      white-space: normal;
      font-size: 1.2rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .category-card__skill {
    width: 100%;
  }
}
