.toggle-switch {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  display: inline-block;
  background-color: $primary;

  border-radius: 200px;
  border: 0.15rem solid fade-out($white, 0.8);

  &:focus{
    outline: dotted 1px $white;
  }

  .toggle-switch__side {
    position: relative;
    width: 50%;
    height: 100%;
    opacity: 1;
    box-sizing: border-box;

    &#pt-br {
      float: left;
      border-radius: 200px 0px 0px 200px;
      background: no-repeat center/cover url("../img/country-icons/brasil.svg");
    }

    &#en-us {
      float: right;
      border-radius: 0px 200px 200px 0px;
      background: no-repeat center/cover url("../img/country-icons/eua.svg");
    }
  }

  &[aria-pressed="true"] {
    .toggle-switch__side#pt-br {
      opacity: 0.4;
      
      &:hover {
        filter: brightness(1.2);
      }
    }
    .toggle-switch__side#en-us {
      filter: brightness(0.9);
    }
  }

  &[aria-pressed="false"] {
    .toggle-switch__side#en-us {
      opacity: 0.4;
      &:hover {
        filter: brightness(1.2);
      }
    }
    .toggle-switch__side#pt-br {
      filter: brightness(0.9);
    }
  }
}


@include media-breakpoint-up(md){
  .toggle-container{
    width: 80px;
    margin-right: 20px;
  }
}
