<div class="resume-section py-5 text-center">
 <a class="js-scroll-trigger back-to-top text-secondary" href="#{{locale.topics[0].name | slug}}" alt="{{locale.backtoTop}}" aria-label="{{locale.backtoTop}}">
   <u><span>{{locale.backtoTop}}</span></u>
   <u><span class="fas fa-arrow-up"></span></u>
 </a>
</div>