<section tabindex="0" class="resume-section" id="{{locale.topics[2].name | slug}}">
    <div class="resume-section-content">
        <h2 class="mb-5">{{locale.topics[2].name}}</h2>

        {% for school in locale.education %}
            <div class="d-flex flex-column mb-5">
                <div class="row d-flex p-0">
                    <div class="col-12 col-md-9">
                        <h3 class="mb-0">{{school.name}}</h3>
                        <div class="subheading mb-2">{{school.title}}</div>
                    </div>
                    <div class="col-12 col-md-3 mb-2 text-md-right">
                        <span class="text-primary">{{school.period}}</span>
                    </div>
                </div>
                <div class="col-12 col-md-9 p-0">
                    <p>{{school.info}}</p>
                    <p>{{school.gpa}}</p>
                </div>
            </div>

        {% endfor %}

    </div>
</section>