<footer>
<div class="px-4 p-md-0 text-center">
  <p>
    ©{{ site.year }}
  </p>
  <p>
    Template customized from <a href="https://github.com/StartBootstrap/startbootstrap-resume">Start Bootstrap's Resume Theme</a>
  </p>
</div>
</footer>