<section class="resume-section" id="{{locale.topics[5].name | slug}}">
    <div class="resume-section-content">
        <h2 class="mb-5">{{locale.topics[5].name}}</h2>
        {{locale.interests | safe}}
    </div>
</section>