<!-- Modal com detalhamento do projeto -->
<div class="modal project-modal fade" tabindex="-1" role="dialog" id="{{project.id}}-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close pop-up">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>{{project.name}}</h2>
                <div class="social-icons project-links d-flex justify-content-center">
                    {%for link in project.links%}
                        <a class="d-flex align-items-center" href="{{link.url}}" target="_blank" rel="noopener noreferrer" alt="Projeto no Github">
                            <div class="social-icon mr-2 mr-lg-1">
                                <i class="{{link.icon}}"></i>
                            </div>
                            <span class="text-primary">{{link.type}}</span>
                        </a>
                    {%endfor%}
                </div>
                <div class="project-tags py-2 d-flex flex-row flex-wrap justify-content-center">
                  {%for tag in project.tags%}
                    <div class="project-tag m-1 px-3 {{tag.color}}">{{tag.name}}</div>
                  {% endfor %}
                </div>
                <div class="project-img">
                    <img src="{{site.img_path}}{{project.img}}" alt="">
                </div>
                <div class="project-description text-center pt-3">
                    {{project.short_description}}
                </div>
                {% set snippet %}{% include '../../_data/projects_articles/' + project.id + '.md' %}{% endset %}
                {{ snippet | markdown | safe }}
            </div>
        </div>
    </div>
</div>