<!-- Modal com detalhamento do projeto -->
<div class="modal project-modal fade" tabindex="-1" role="dialog" id="{{project.id}}-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>{{project.name}}</h2>
                <div class="social-icons project-links">
                    <a class="social-icon" href="{{project.links['github']}}" target="_blank" rel="noopener noreferrer" alt="Projeto no Github">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="social-icon" href="{{project.links['website']}}" target="_blank" rel="noopener noreferrer" alt="Site ou plataforma">
                        <i class="fas fa-desktop"></i>
                    </a>
                </div>
                <div class="project-img">
                    <img src="{{site.img_path}}{{project.img}}" alt="">
                </div>
                <div class="project-description text-center pt-3">
                    {{project.short_description}}
                </div>
                {% set snippet %}{% include '../../_data/projects_articles/' + project.id + '.md' %}{% endset %}
                {{ snippet | markdown | safe }}
            </div>
        </div>
    </div>
</div>