<section tabindex="0" class="resume-section" id="{{locale.topics[1].name | slug}}">
    <div class="resume-section-content">
        <h2 class="mb-5">{{locale.topics[1].name}}</h2>
        <div class="grid-filters">
            <a href="#" class="grid-filter">Javascript</a>
            <a href="#" class="grid-filter">Clear</a>
        </div>
        <div class="container container-fluid card-container muuri-grid position-relative mx-auto row">
            {% for project in locale.projects %}
                <a class="link-card link-card--project mb-5 mb-lg-3" tabindex="0" alt="{{project.name}}" aria-label="{{project.name}}" data-toggle="modal" data-target="#{{project.id}}-modal" href="">
                        <img class="link-card__img" src="{{site.img_path}}{{project.img}}">
                        <div class="link-card__card-info card-info">
                            <h3 class="card-title card-front-title text-center">{{project.name}}</h3>
                            {# <p class="card-text">{{project.short_description}}</p> #}
                        </div>
                        <div class="card__project-tags position-absolute p-2 d-flex flex-row flex-wrap">
                          {%for tag in project.tags%}
                            <div class="project-tag m-1 {{tag.color}}" data-tag-name="{{tag.name}}">{{tag.name}}</div>
                          {% endfor %}
                        </div>
                </a>
            {% endfor %}
        </div>
        {% for project in locale.projects %}
            {%include 'partials/project_modal.njk'%}
        {% endfor %}
    </div>
</section>