<section tabindex="0" class="resume-section" id="{{locale.topics[4].name | slug}}">
    <div class="resume-section-content">
        <h2 class="mb-5">{{locale.topics[4].name}}</h2>
        <div class="master-skills-list row justify-content-center">

        {% for category in site.skills | orderSkillsMoreFirst %}
                <div class="category-card d-flex flex-column align-items-center">
                    <h3 class="category-card__title">{{category.name}}</h3>
                    
                    <ul class="category-card__skill-list">
                        {% for skill in category.skills %}
                            <li class="category-card__skill">
                                {% if skill.icon_type === "fa"%}
                                <i class="{{skill.icon}} skill-icon"></i>
                                {%endif%}
                                {% if skill.icon_type === "svg"%}
                                <img src="{{site.img_path}}{{skill.icon}}" class="skill-icon skill-icon__img"/>
                                {%endif%}
                                <span class="skill-name p-0">{{skill.name}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

        </div>
    </div>
</section>