// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$purple: #691e9b;

// Override Bootstrap default state colors

$primary: $purple;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;

// Create new colors

$dark-orange: #d46430;
$wp: #0073aa;
$php: #8892bf;
