// Animates elements descending to a middle vertical translation point and fading out

@keyframes go-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  25% {
    visibility: hidden;
    opacity: 0.5;
  }

  50% {
    visibility: hidden;
    opacity: 0.25;
    transform: translate(0, 30%);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 50%);
  }
}