// Animates elements going up to initial vertical position from a bottom translate point

@keyframes go-up {
  0% {
    visibility: hidden;
    transform: translate(0, 50%);
  }

  25% {
    opacity: 0.25;
    visibility: visible;
    transform: translate(0, 30%);
  }

  50% {
    opacity: 0.5;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}